body{
    background-color:transparent !important;
}

navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.header .logo {
    width: 366px;
}
.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.collapse:not(.show) {
    display: none;
}


@media (max-width: 992px)
{#titulo {
    margin-left: 80% !important;
    margin-top: -60px !important;
}}


@media (max-width: 767px)
{.header .logo {
    width: 193px;
}}

@media (max-width: 767px)
{.navbar-nav {
    -ms-flex-direction: inherit;
    flex-direction: inherit !important;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    list-style: none !important;
}}

.menu .navbar .nav-link {
    color: #7992c3;
    font-size: 0.8125rem;
    font-weight: 700;
}

.menu .navbar .nav-link.active {
    color: #fff;
    border-bottom: 2px solid orange;
}


.menu .navbar .btn-login {
    background: #013e77;
    color: #fff;
    border: none;
    border-color: #fff;
    font-size: 0.75rem;
}


.menu .navbar .btn-cadastre-sua-agencia {
    background: #013e77;
    color: #fff;
    border: none;
    border-color: #fff;
    font-size: 0.75rem;
    margin-right: 60px;
}


@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
body{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	line-height: 1.7;
	color: #ffeba7;
  overflow: hidden;
  height: 100vh;
}
a:hover {
	text-decoration: none;
}
.link {
  color: #ffeba7;
}
.link:hover {
  color: #c4c3ca;
}
p {
  font-weight: 500;
  font-size: 14px;
}
h4 {
  font-weight: 600;
  color: #e87717;
}
h6 span{
  padding: 0 20px;
  font-weight: 700;
}
.section{
  position: relative;
  width: 100%;
  display: block;
}
.full-height{
  min-height: 100vh;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
display: none;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #ffeba7;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before{
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #ffeba7;
  background-color: #e87717;
  font-family: 'unicons';
  content: '\eb4f';
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}
.checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
}
.card-3d-wrap {
  position: relative;
  width: 440px;
  max-width: 100%;
  height: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}
.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position:absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out; 
}
.card-front, .card-back {
  width: 100%;
  height: 100%;
  background-color: #013e77;
  background-image: url('/img/pattern_japanese-pattern-2_1_2_0-0_0_1__ffffff00_000000.png');
  position: absolute;
  border-radius: 6px;
  -webkit-transform-style: preserve-3d;
}
.card-back {
  transform: rotateY(180deg);
}
.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}
.center-wrap{
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}
.form-group{ 
  position: relative;
  display: block;
    margin: 0;
    padding: 0;
}
.form-style {
  padding: 13px 20px;
  padding-left: 55px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #c4c3ca;
  background-color: #1f2029;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.input-icon {
  position: absolute;
  top: 0;
  left: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  -webkit-transition: all 200ms linear;
   transition: all 200ms linear;
}
.btn{  
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition : all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  align-items: center;
  background-color: #ffeba7;
  color: #000000;
}
@media (max-width: 950px){
  #centro{
    width:750px !important;
    height: 750px !important;
  }
}

@media (max-width: 836px){
  #centro{
    width:500px !important;
    height: 950px !important;
  }
}

@media (max-width: 536px){
  #centro{
    width:350px !important;
    height: 1350px !important;
  }
}

@media (max-width: 536px){
  #mySidebar{
    position: absolute;
    height: 240%;
  }
}
@media (max-width: 536px){
  #pai{
    margin-right: 13px !important;
  }
}

@media (max-width: 536px){
  #codigo{
    margin-left: -200px !important;
  }
}
@media (max-width: 536px){
  #ativo{
    margin-left: 167px !important;
  }
}
@media (max-width: 536px){
  #labeagen{
    width: 180px !important;
  }
  #agencia{
    margin-left: -50px !important;
  }
  #agenciainp{
    width: 250px !important;
  }
  #cnpjinp{
    margin-left: 0px !important;
  }
  #spancnpj{
    margin-left: -200px !important;
  }
  #agesiteinp{
    width: 250px !important;
  }
  #agesite{
    width: 180px !important;
  }
  #spanagesite{
    margin-left: -15px !important;
  }
  #insinp{
    margin-left: 0px !important;
  }
  #insspan{
    margin-left: -98px !important;
  }
  #spancep{
    margin-left: -32px !important;
  }
  #cepinp{
    width: 80px !important;
  }
  #ruainp{
    margin-left: -8px !important;
    width: 150px !important;
  }
  #spanrua{
    margin-left: -50px !important;
  }
  #spanum{
    margin-top: 84px !important;
    margin-left: -20px !important;
  }
  #labenum{
    width: 180px !important;
  }
  #inpnum{
    width: 60px !important;
    margin-left: 50px !important;
  }
  #baiinp{
    width: 250px !important;
  }
  #spanbai{
    margin-left: -16px !important;
  }
  #cidinp{
    margin-left: 0px !important;
    width: 250px !important;
  }
  #spancid{
    margin-left: -188px !important;
  }
  #contato{
    margin-left: -206px !important;
  }
  #tst{
    margin-left: 200px !important;
  }
  #bancosele{
    width:100px !important;
  }
  #spanbanco{
    margin-left: -16px !important;
  }
  #labeagencia{
    width: 106px !important;
  }
  #ageninp{
    width: 70px !important;
    margin-left: 20px !important;
  }
  #containp{
    width: 100px !important;
    margin-left: 8px !important;
  }
  #labeconta{
    margin-left: -150px !important;
    width: 290px !important;
  }
  #spanage{
    margin-left: 0px !important;
  }
  #cadas{
    margin-right: 200px !important;
  }
  #limpar{
    margin-top:-74px !important;
    margin-right: -170px !important;
  }
  #navcima{
    width: 103% !important;
  }
  #spancorrente{
    margin-left: 76px !important;
  }
  #centroagente{ 
    margin-left: 20px !important;
    width: 350px !important;
    height: 350px !important;
  }
  #nomeagente{
    margin-left: -160px !important;
  }
  #spancpf{
    margin-left: -238px !important;
  }
  #spandes{
    margin-left: -192px !important;
  }
  #cadastraagente{
    margin-right: 0px !important;
  }
  #h3agente{
    width:220px !important;
    margin-right: 0px !important;
  }
  #mySidebaragente{
    position: absolute;
    height: 100%;
  }
  #grafico{
      width:350px !important;
      height:380px !important;
  }
  #relatorio_h3{
    margin-top: 40px !important;
    margin-left: 20px !important;
    width: 300px;
  }
  #relatorio_h4{
    margin-left: 20px !important;
    width: 300px;
  }
    #startDate{
    margin-left: 20px !important;
    width: 120px !important;
  }
  #ate{
      margin-left: 150px !important;
  }
  #endDate{
    margin-left: 190px !important;
    width: 110px !important;
    }
  #pes_rel{
      margin-left:30px !important;
  }
  #exportarExcel{
      margin-left:30px !important;
      margin-top:30px !important;
  }
    #valor{
        margin-left: 30px !important;
        width: 423px !important;
        position:relative !important;
  }
    #tabelaCorpo{
      position:static !important;
      margin-left:30px !important;
      font-size:8px;
      width:100px !important;
  }
  #soma-valor-liquido{
      margin-left:140px !important;
      font-size:8px !important;
  }
    #soma-valor-inc{
      margin-left:62px !important;
      font-size:8px !important;
  }
  #soma-valor-incajustado{
      margin-left:6px !important;
      font-size:8px !important;
  }
  #tabelaresp{
      overflow-x:auto;
      overflow-y:auto;
      
  }
    #h3fatu{
      margin-left:30px !important;
  }
}