{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incomum Viagens</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</head>
<body style="overflow: auto;">
    <div class="header">

        <section class="limite-pagina container"style="margin-right: 188px;width:100%;" >
          

            <nav class="navbar navbar-expand-lg navbar-light .bg-transparent" >
              

                <a class="navbar-brand" href="home">
                    <img src="{% static 'img/logo.png' %}"class="logo" style=" margin-left: 5px;">
                    <img src="{% static 'img/25anos.jpg' %}" style="width: 115px; margin-left: 1px;">
                </a>
                <h4 id="titulo" style="margin-left: 300px; font-size: 14px;color: #e87717;margin-top: 45px;">Viagem 2.0 - Software de Gestão Empresarial</h4>
                

                                
                                                            
                        



                </ul>

            </nav>

        </section>

    </div>
    <section>

        <div class="menu">

            <nav class="navbar navbar-expand-lg navbar-light bg-primary" style="background-color: #0152a1 !important;height: 40.5px;">



                <div class="collapse navbar-collapse " id="nav-menus"  >

                    <div class="navbar-nav " id="navbarNav">


                    </div>

                </div>


            </nav>

        </div>

    </section>
<div class="section">
  <div class="container">
    <div class="row full-height justify-content-center">
      <div class="col-12 text-center align-self-center py-5">
        <div class="section pb-5 pt-5 pt-sm-2 text-center">
          <h6 class="mb-0 pb-3"><span>Login </span><span>Cadastro</span></h6>
                <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
                <label for="reg-log"></label>
          <div class="card-3d-wrap mx-auto">
            <div class="card-3d-wrapper">
              <div class="card-front">
                <div class="center-wrap">
                  <div class="section text-center">
                    <h4 class="mb-4 pb-3" style="color: #e87717;">Login</h4>
                    <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                      <input style="background-color: white; color: black;" name="loginemail" type="text" class="form-style" placeholder="Nome">
                      <i class="input-icon uil uil-user" style="color: #e87717;"></i>
                    </div>	
                    <div class="form-group mt-2">
                      <input style="background-color: white; color: black;" name="loginsenha" type="password" class="form-style" placeholder="Senha">
                      <i class="input-icon uil uil-lock-alt" style="color: #e87717;"></i>
                    </div>
                    <input type="submit" class="btn mt-4" style="color: #e87717;" value="Login">
                    <p class="mb-0 mt-4 text-center"><a href="reset_password" class="link">Esqueceu sua senha?</a></p>
                      </div>
                    </form>
                    </div>
                    
                  </div>
              <div class="card-back">
                <div class="center-wrap">
                  <div class="section text-center">
                    <h4 class="mb-3 pb-3" style="color: #e87717;">Cadastro</h4>
                    
                    <form action="" method="post">
                      {% csrf_token %}
                      <div class="form-group">
                        <input style="background-color: white; color: black;" name="nome" type="text" class="form-style" placeholder="Nome" value="{{ form.nome }}">
                        <i class="input-icon uil uil-user" style="color: #e87717;"></i>
                      </div>	
                      <div class="form-group mt-2">
                        <input style="background-color: white; color: black;" name="email" type="email" class="form-style" placeholder="Email" value="{{ form.email }}">
                        <i class="input-icon uil uil-at" style="color: #e87717;"></i>
                      </div>	
                      <div class="form-group mt-2">
                        <input style="background-color: white; color: black;" name="senha" type="password" class="form-style" placeholder="Senha" value="{{ form.senha }}">
                        <i class="input-icon uil uil-lock-alt" style="color: #e87717;"></i>
                      </div>

                      <input type="submit" class="btn mt-4" style="color: #e87717;" value="Cadastrar">
                      </div>
                    </form>
                    </div>
                    
                  </div>
                </div>
              
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
</body>
</html>